body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f4c2c2;
}

.mosaico {
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @media screen and (orientation: landscape) {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.mosaico img {

    object-fit: cover;
    transition: opacity 1s ease-in-out;

    max-width: calc(100vw / 3);
    max-height: calc(100vh / 3);

    @media screen and (orientation: landscape) {
        max-width: calc(100vw / 5);
        max-height: calc(100vh / 2);
    }

    @media (min-width: 768px) {
        max-width: calc(100vw / 7);
        max-height: calc(100vh / 3);
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#playBtn {
    padding: 20px 40px;
    font-size: 1.5rem;
    background: #ff69b4;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.6);
}

#playBtn:hover {
    background: #ff85c1;
}

#audioWrapper {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

#audioControl {
    background: #ff69b4;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

#audioMenu {
    position: absolute;
    bottom: 60px;
    right: 0;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    gap: 5px;
}

#audioMenu.show {
    display: flex;
}